 * {
     font-family: Arial, sans-serif;
 }

 body {
   
    position: relative;
     background: #fff;
     position: relative;
     font-family: Arial, sans-serif;
   

 }
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1707209857232-4feaa7a4a036?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    height: 100vh;
    z-index: -1;
    opacity: 0.05;
    background-repeat: no-repeat;
    background-size: cover;
}
 nav {
    display: flex;
    align-items: center;
    justify-content: center;
     position: sticky;
     top: 0;
     z-index: 9999;
    font-size: 22px;
    padding: 15px;
    color: #fff;
    background: linear-gradient(to top, #01253d, #174868);
 }
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
 .container {
    padding: 10px;
 }
 nav a.active{
    border-bottom: 1px solid #fff;
 }
nav a{
    color: #fff;
    text-decoration: none;
    
    padding: 10px 15px;
    
    font-size: 16px;
}
 h1 {
     text-align: center;
 }

 .question {
     display: none;

 }

 h2,
 h3 {
     position: sticky;
     top: 0;
     left: 0;

     text-align: center;
     background: #fff;
     color: #444444;
     padding: 15px;
     font-size: 16px;
   
     z-index: 99;
 }
label{
    font-size: 14px !important;
}
#survey-form{
    background: #fff;
    box-shadow: 0 0 15px #00000010;
    border-radius: 8px;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    
}
.alt {
    display: flex;
    background: #6ba2e90a;
    padding:10px;
    border: 2px dotted rgba(70, 167, 231, 0.219);
    border-radius: 8px;
 
    line-height: 20px;
    color: #303030;
    font-size: 14px;
    text-align: left;

}
.alt img{
    width: 55px;
    object-fit: contain;
}
 .question.active {
     position: relative;
     top: 0;
     left: 0;
     background: #fff;
     display: block;
     max-width: 800px;
     margin: auto;
    
     max-height: 450px;
    
     overflow: auto;
     overflow-x: hidden;
     padding-bottom: 50px;
     transition: .5s ease all;
     animation: eases .6s ease;
 }

 .l-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
     padding: 15px;
 }
 .l-container label{
    display: block !important;
 }

 @keyframes eases {
     0% {
         opacity: 0;
         left: 150px;
     }
    

     100% {
         opacity: 1;
         right: 0;
     }
 }
.textnext{
    display: flex;
    align-items: center;
    justify-content: end;
    background: #007bff !important;
    color: #fff !important;
   
    text-align: center;
    
}

 .navigation {
     
     display: flex !important;
     align-items: center !important;
     width: 100%;
     margin-right: 15px;
     justify-content: end !important;

 }

 button {
     padding: 15px 35px;
    width: 100%;
     border: none;
     font-weight: 600;
     border-radius: 50px;
     background-color: #007bff;
     color: #fff;
     cursor: pointer;
 }

 input[type="radio"] {
     display: none;
 }
 .question{
    position: relative;
 }
.prev{
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 14px;
    color: #0a72e0;
    background: #0a72e010;
    z-index: 999;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}


 .question.active select {
     padding: 15px;
     border-radius: 50px;
     width: 100%;
     margin: 25px 0;
 }

 .question label {
     display: flex;
     align-items: center;
     gap: 5px;
     transition: .2s ease;
     border: 1px solid #fff;
 }

 .question label:hover {
     border: 1px solid #64a6ec;
     transform: scale(1.02);
     cursor: pointer;
     z-index: 0;
 }

 .question label {
     background: #f4f9ff;
     padding: 15px;
     color: #407dbe;
     
     border-radius: 50px;
 }

 .selected {
     background: linear-gradient(to right, #007bff20, #09689430) !important;
     border: 1px solid #64a6ec !important;

 }

 button:hover {
     opacity: 0.8;
 }

 textarea {
     width: calc(100%);
     height: 250px;
     padding: 15px 20px;
     border: 1px solid #ccc;
     outline: 0;
     border-radius: 15px;
     margin-bottom: 30px;
     transition: .3s ease all;
     resize: none;
 }
input[type="email"]{
    padding: 15px 20px;
     border: 1px solid #ccc;
     border-radius: 50px;
}
input[type="email"]:hover{
background: linear-gradient(to right, #007bff10, #09689410) !important;
    border: 1px solid #64a6ec50 !important;
}
input[type="email"]:focus{
background: linear-gradient(to right, #007bff20, #09689430) !important;
    border: 1px solid #64a6ec !important;
    outline: none;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .progress-bar {
     padding: 8px;
    background: #fff;

 }

 .progress {
     height: 5px;
     
     background: rgb(0, 132, 255);
     border-radius: 50px;
     transition: .3s ease;
 }

 textarea:focus {
     border: 1px solid rgb(0, 132, 255);
 }

 .info-bar {
     max-width: 800px;
     margin: 30px auto;
 }

 h1 {
     padding: 15px 5px;
     font-size: 26px;
     color: #353535;
 }

 
 
 form{
    margin-bottom: 30px;
 }